@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #1F2937;
  padding: 16px 250px;
  justify-content: space-between;
}

.logo {
  color: #F9FAF8;
  font-weight: 800;
  font-size: 24px;
}

.links {
  color: #F9FAF8;
  display: flex;
}

.links li {
  padding: 8px 16px;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 32px;
}

.section-1 {
  display: flex;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 400px;
  padding: 32px 64px;
  flex-wrap: wrap;
}

.sec1_1 {
  width: 450px;
  flex: 0 1 auto;
}

.sign-up1 {
  background-color: #3882FC;
  color: #F9FAF8;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}

.pic1 {
  max-width: 400px;
  height: auto;
  flex: 1 1 auto;
  border: #F9FAF8 solid;
  border-width: 1px;
}

.section-2 {
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 400px;
  padding: 32px 0px;
  text-align: center;
}

.information-header-text {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 48px;
}

.container {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px 64px;
}

.item {
  text-align: center;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  border: 2px solid #3882FC;
  border-radius: 8px;
  height: auto;
  width: 200px;
  display: block;
  margin-bottom: 8px;
}

.item p {
  max-width: 180px;
}

.section-3 {
  background-color: #E5E7EB;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 400px;
  padding: 32px 0px;
}

.quote-text {
  font-style: italic;
  font-size: 36px;
  max-width: 790px;
  font-weight: 300;
  margin: 32px 64px;
}

.quote-person {
  padding-left: 480px;
  font-size: 24px;
  font-weight: 700;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 32px 0px;
}

.sec4box {
  background-color: #3882FC;
  border-radius: 8px;
  display: flex;
  padding: 50px 120px;
  align-items: center;
  margin: 32px 64px;
  justify-content: space-between;
  gap: 32px;
  max-width: 1000px;
}

.section-4 h1 {
  color: #F9FAF8;
  font-weight: 800;
  font-size: 24px;
}

.section-4 .sign-up1 {
  border: 2px solid #F9FAF8;
}

.Hero-main-text {
  color: #F9FAF8;
  font-weight: 800;
  font-size: 48px;
}

.Hero-secondary-text {
  color: #F9FAF8;
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links a {
  text-decoration: none;
  color: #F9FAF8;
}